:root{
	--primary-bg: #4c5dda;
	--primary-bg-hover: #5f6ee2;
	--success-bg: #5cb85c;	
	--info-bg: #5bc0de;
	--waring-bg: #f0ad4e;
	--danger-bg: #d9534f;
	--diabled-bg: #BBB;
	--default-bg: #40a0ce;
	--assertive-bg: #d9534f;
	--yellow-bg: #f0ad4e;
	--lightblue-bg: #40a0ce;
	
	--primary-color: #4c5dda;
	--error-color: #d9534f;
	--default-color: #333;
	--assertive-color: #d9534f;
	--yellow-color: #f89c2c;
	--lightblue-color: #40a0ce;

	--primary-border: #4c5dda;
	--default-border:  #40a0ce;
	--light-border: #CCC;
	--yellow-border: #f89c2c;
	--main-font-size: 13px;
}

  ::-webkit-scrollbar {  /* 滚动条整体部分 */
	  width:10px;
	  margin-right:2px
  }
  /* 滚动条两端的按钮 */
  /*
  ::-webkit-scrollbar-button { 
	  width:10px;
	  background-color: yellow;
  }
  */
  ::-webkit-scrollbar:horizontal {
	  height:10px;
	  margin-bottom:2px
  }
  /* 外层轨道 
  ::-webkit-scrollbar-track {  
	  border-radius: 10px;
  }
  */
  /*内层轨道，滚动条中间部分 */
  ::-webkit-scrollbar-track-piece {  
	  background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {  /* 滑块 */
	  width:10px;
	  background: #CBCBCB;
  }
  ::-webkit-scrollbar-corner { /* 边角 */
	  width: 10px;
	  background-color: red;
  }
  ::-webkit-scrollbar-thumb:hover { /* 鼠标移入滑块 */
	  background: #909090;
  }

.ore-btn{
	display: inline-block;
    line-height: 1em;
    text-align: center;
    color: var(--default-color);
    font-size: 1.4rem;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.8em 1em;
	text-decoration: none
}
a.ore-btn:hover{
	text-decoration: none !important;
}

.ore-btn-img{
	padding: 0;
	background-size: contain;
}
.ore-btn.ore-btn-img:not(.ore-disabled):hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.ore-btn.ore-primary{
	background: var(--primary-bg);
	color: #FFF;
}
.ore-btn.ore-primary:hover{
	background: var(--primary-bg-hover);
}

.ore-btn.ore-default{
	background: var(--default-bg);
	color: #FFF;
}
.ore-btn.ore-default:hover{
	background: var(--default-bg);
	opacity: 0.89;
}

.ore-btn.ore-assertive{
	background: var(--assertive-bg);
	color: #FFF;
}
.ore-btn.ore-assertive:hover{
	background: var(--assertive-bg);
	opacity: 0.89;
}

.ore-btn.ore-yellow{
	background: var(--yellow-bg);
	color: #FFF;
}
.ore-btn.ore-yellow:hover{
	background: var(--yellow-bg);
	opacity: 0.89;
}

.ore-btn.ore-green{
	background: #00cc29;
	color: #FFF
}
.ore-btn.ore-green:hover{
	background: #01a722;
}
.ore-btn.ore-outline{
	padding: 0.75em 1em;
	border:1px solid var(--light-border);
}
.ore-btn.ore-outline:hover{
	background: var(--light-border);
}
.ore-btn.ore-disabled{
	background: #999 !important;
	cursor: not-allowed;
}
.ore-btn.img-frozen{
	background-image: url(../images/button/personDj.png);	
}
.ore-btn.img-unfrozen{
	background-image: url(../images/button/personJd.png);
}
.ore-btn.img-resetpwd{
	background-image: url(../images/button/personMd.png);
}
.ore-btn.img-bind{
	background-image: url(../images/button/personUnite.png);
}
.ore-btn.img-unbind{
	background-image: url(../images/button/personUnite.png);
}
.ore-btn.img-edit{
	background-image: url(../images/button/personEdit.png);
}
.ore-btn.img-joincompany{
	background-image: url(../images/button/personAddOrg.png);
}
.ore-btn.img-joincompany-noauth{
	background-image: url(../images/button/personAddOrgh.png);
	cursor: not-allowed;
}
.ore-btn.img-addAccount{
	background-image: url(../images/button/personAddAcount.png);
}
.ore-table .ore-btn-img{
	width: 22px;
	height: 22px;
	top: 5px;
	margin: 0 5px
}
a.ore-table-btn{
	font-size: 1.2rem;
    line-height: 1em;
    padding: 5px 10px;	
	background: none !important;
}
.ore-table-btn.ore-assertive{
	border:1px solid var(--assertive-color);
	color: var(--assertive-color);
}
.ore-table-btn.ore-default{
	border:1px solid var(--default-color);
	color: var(--default-color);
}
.ore-table-btn.ore-lightblue{
	border:1px solid var(--lightblue-color);
	color: var(--lightblue-color);
}
.ore-table-btn.ore-primary{
	border:1px solid var(--primary-color);
	color: var(--primary-color);
}
.ore-table-btn.ore-yellow{
	border:1px solid var(--yellow-color);
	color: var(--yellow-color);
}

.ore-btn.ore-btn-full{
	display: block;
}
.ore-btn.ore-btn-link{
	text-decoration: underline;
	background: none;
	border: 0;
	color: #4c5dda
}

.ore-focus{
	width: 1180px;
	margin: 0 auto;
}
.ore-input{
	border-radius: 4px;
	border: 1px solid var(--light-border);
	line-height: 2.4rem;
	height: 2.4rem;
	text-indent: 0.8rem;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.ore-input:focus,.ore-select:focus{
	border: 1px solid var(--default-border);
	box-shadow: 0 0 3px var(--default-border);
}
.ore-select{
	border-radius: 4px;
	border: 1px solid var(--light-border);
	line-height: 2.4em;
	height: 2.4em;
	min-width: 5em;
	text-indent: 0.5rem;
}
.ore-select option{
	
}
.ore-textarea{
	padding: 2px 5px;
	border-radius: 4px;
	border: 1px solid var(--light-border);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.ore-textarea:focus{
	border: 1px solid var(--default-border);
	box-shadow: 0 0 3px var(--default-border);
}


.icon{
	position: relative;
}
.icon-fold{
	background-image: url(../images/icon/off_b.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.icon-unfold{	
	background-image: url(../images/icon/open_b.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.ore-text-center{text-align:center}

.ore-table{
	width: 100%;
}
.dataTables_wrapper .ore-table.dataTable{
	width: 100% !important;
}
.ore-table .icon-queston{
    position: relative;
    top: 3px;
    margin-right: 10px;
	cursor: pointer
}
.icon-queston:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icon/icon_question.png) center no-repeat;
    background-size: cover;
}
.ore-label{
	font-weight: lighter
}
.dataTables_empty{
	text-align: center;
}

/* nav */
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 50px;
	
}
.nav-tabs>li>a{
	top: 1px;
	background: #F1F1F1;
}
.nav-justified {
    width: 100%;
}
.nav-justified>li {
	float: none;
    display: table-cell;
    width: 1%;
}
.nav-justified>li>a {
    margin-bottom: 0;
    text-align: center;
}
.nav-pills>li>a {
    border-radius: 4px;
}

/* step*/
.step {
    counter-reset: flag;
}
.step li {
    position: relative;
}

.step-round {
    margin-top: 40px;
}
.step-round>li>a {
    color: #666;
}

.step li a:before {
    content: counter(flag);
    counter-increment: flag;
}
.step li a:after {
    content: "";
}
.step-round li a:before {
	position: absolute;
    z-index: 2;
    top: -1.6em;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    background-color: #bec3c7;
    color: #fff;
}
.step-round li a:after {
    position: absolute;
    left: 0;
    right: 0;
    top: -38%;
    background-color: #CCCCCC;
    z-index: 1;
    height: 8px;
}
.step-round>li.active>a, .step-round>li.active>a:focus, .step-round>li.active>a:hover {
    color: #58b0d8;
    background-color: rgba(0, 0, 0, 0);
}
.step-round li.active a:before {
	background-color: #58b0d8;
    color: #FFFFFF;
    border-color: #58b0d8;
}
.step-round li.active a:after {
    background-color: #58b0d8;
}
.step-round li:first-child a:after {
    left: 25%;
    border-radius: 5px 0 0 5px;
}
.step-round li:last-child a:after {
    right: 25%;
    border-radius: 0 5px 5px 0;
}

.form-group .control-label {
	display: inline-block;
    margin: 0;
    padding: 0;
	text-align: right;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle;
}

.form-group .control-label.check:before {
    content: '*';
    display: inline-block;
    margin-right: .5em;
    color: #f00;
}

.form-group .form-control {
	width: 100%;
    padding: 4px 6px;
    min-height: 30px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #ccc;
}

.form-group .form-control:disabled {
    resize: none;
    background: #ebebe4;
    border: 1px solid #ddd;
}

.form-group .form-control.input-lg {
    height: 30px;
}

/**/

.form-group:before,
.form-group:after,
.wj-row:after, 
.wj-row:before {
    content: " ";
    display: table;
}

.form-group:after,
.wj-row:after {
    clear: both;
}

.form-group .col-12,
.form-group .col-11,
.form-group .col-10,
.form-group .col-9,
.form-group .col-8,
.form-group .col-7,
.form-group .col-6,
.form-group .col-5,
.form-group .col-4,
.form-group .col-3,
.form-group .col-2,
.form-group .col-1 {
    float: left;
    position: relative;
    min-height: 1px;
    line-height: normal;
    padding-right: 15px;
    padding-left: 15px;
}
.wj-row .col-12,
.wj-row .col-11,
.wj-row .col-10,
.wj-row .col-9,
.wj-row .col-8,
.wj-row .col-7,
.wj-row .col-6,
.wj-row .col-5,
.wj-row .col-4,
.wj-row .col-3,
.wj-row .col-2,
.wj-row .col-1 {
	float: left;
}

.col-12 {
    width: 100%;
}
.col-11 {
    width:91.66666667%
}
.col-10 {
    width:83.33333333%
}
.col-9 {
    width: 75%;
}
.col-8 {
	width: 66.66666667%;
}
.col-7 {
	width:58.33333333%
}
.col-6 {
	width: 50%;
}
.col-5 {
	width:41.66666667%
}
.col-4 {
	width: 33.33333333%;
}
.col-3 {
	width: 25%;
}

.col-offset-2 {
    margin-left: 16.66667%;
}
.col-offset-3 {
    margin-left: 25%;
}
.uploader-box .wj-pic-show {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
	float: left;
	margin-right: 10px;
}
.uploader-box .upload-container{
	float: right;
}
.uploader-box .upload-container .ore-btn{
	margin-top: 85px;
}
.form-group .ore-btn {
    min-width: 80px;
}
label{
	font-weight: lighter;
}
.ore-filter-group label{
	margin-right: 10px;
}
.ore-filter-group select, .ore-filter-group input{margin-left: 5px;}
div.dataTables_info{
	float: left;
	margin-top: 5px;
}
div.dataTables_paginate{
	margin-top: 10px;
}
div.dataTables_length{
    float: right;
    margin-top: 13px;
    margin-left:  10px;
}
div.dataTables_length select{
	padding: 0
}
.layui-layer-shade{
	opacity: 0 !important;
}


/******************/
@media (min-width: 768px){
	.modal-dialog {
		width: 100%;
		margin:0;
	}
	.ore-dialog{
		width: 600px;
	}
}

.modal-open .modal{
	overflow: hidden;
}
.ore-dialog{
	max-height: 80%;
}
.ore-dialog .modal-header{
	padding: 10px 15px;
	background: var(--default-bg);
	color: #FFF;
	border-radius: 4px 4px 0px 0px;
}
.ore-dialog.is-pointer-down .modal-header{
	cursor:move
}
.ore-dialog .ore-dialog-title{
	font-size: 1.8rem;
}
.ore-dialog .close{
	opacity: 1;
	color:#FFF;
}
.modal-dialog{
	height: 100%;
}
.ore-dialog .modal-content{
	height: 100%;
}

.ore-dialog .modal-body{
	padding: 20px 30px;
	overflow: auto;
	height: calc(100% - 136px);
}
.ore-dialog .modal-footer{
	padding: 10px 34px;
}
.ore-dialog .modal-body .ore-label{
	display: block;
}
.ore-dialog form{
	border: 0
}
.ore-dialog .ore-form .ore-label > .ore-input, .ore-dialog .ore-form .ore-label > .ore-select{
	float: right;
}
.ore-dialog .ore-form .ore-label{
	line-height: 2.4em;
}

.ore-dialog .ore-btn-group .ore-btn{
	margin-left: 10px;
	float: right;
}
.ore-dialog .ore-form{
	padding: 10px 5px 10px 0;
}
.ore-dialog .ore-form > p,.ore-dialog .ore-form > .ore-row{
	margin: 15px  0;
	text-align: right;
	line-height: 2.4em;
	position: relative;
}
/*************************/
.ore-required{
	position: relative;
}
.ore-required:before{
	content: "*";
	font-size: 1em;
	color: red;
	position: relative;
	right: 5px;
	font-weight: 700;
    top: 2px;
}
.dataTables_scrollBody{
	overflow-x: hidden !important; 
}
table.table-bordered.dataTable{
	border-collapse: collapse !important;
}

/*============= 閺�鐟板晸ztree閸樼喓鏁撻弽宄扮础 =============*/
.vrv-orgTree{
	position: relative;
	z-index: 0
}
.vrv-orgTree *{
	font-size: 1.5rem;
	font-family: inherit;
}

.vrv-orgTree li span.button {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 2rem;
	text-align: center;
	margin: 0 5px;
	line-height:26px;
	vertical-align: inherit;
	opacity: 1;
	height: auto;
}
/*
.vrv-orgTree li span.button.ico_open{	
	background-image: none
}
.vrv-orgTree li span.button.ico_open:before{
	content: "\f115";
}

.vrv-orgTree li span.button.ico_close{	
	background-image: none
}

.vrv-orgTree li span.button.ico_close:before{
	content: "\f114";
}
.vrv-orgTree li span.button.ico_docu:before{
	content: "\f016";
}
.vrv-orgTree li span.button.ico_docu{
	background-image: none
}

*/
.vrv-orgTree li span.button.noline_open{
	background-image: none
}
.vrv-orgTree li span.button.noline_open:before{
	content: "\f107";
}
.vrv-orgTree li span.button.noline_close{
	background-image: none
}
.vrv-orgTree li span.button.noline_close:before{
	content: "\f105";

}

.vrv-orgTree li span.button.chk{
	position: relative;
    float: left;
    z-index: 2;
    top: 8px;
}

.vrv-orgTree li span{
	line-height: 2.4rem;
}
.vrv-orgTree li{
	line-height: 2.4rem;
}
.vrv-orgTree li > a{
	display: block;
	height: 30px;
	padding: 0 3px 0 23px;
	z-index: 1;
}
.vrv-orgTree li > a:after{
	content: "";	
    border-bottom: 1px solid #D1D1D1;
	position: absolute;
	width: 100%;
	left: 0;
	height: 29px;
	z-index: -1;
}
.vrv-orgTree li > a:hover:after{
	background:#F1F1F1;
	text-decoration: none;
}
.vrv-orgTree li span.node_name{
	margin-left: 5px;
	width: 60%;
    display: inline-block;
	overflow: hidden;
}
.vrv-orgTree li a.curSelectedNode{	
	background-color: transparent;
	border: none;
	color: var(--assertive-color);
	height: 30px;
}

.vrv-orgTree li span.button.switch {
    position: relative;
    z-index: 2;
    float: left
}

.vrv-orgTree .fa{
	font: normal normal normal 2rem/1 FontAwesome
}

.vrv-orgTree .ore-btn{
	line-height: 20px;
    height: 20px;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}
.vrv-orgTree .ore-btn.ore-outline-yellow{
	color: var(--yellow-color);
	border:1px solid var(--yellow-border);
	position: relative;
	top: 4px;
	background:#FFF;
}
.vrv-orgTree .ore-btn.ore-outline-yellow:hover{
	background: var(--yellow-border);
	color: #FFF;	
}
.vrv-orgTree-wrapper{
	overflow: auto;
	min-height: 200px;
}
/*============= 閺�鐟板晸ztree閸樼喓鏁撻弽宄扮础 End =============*/

/*============= 閺勫墽銇氱紒鍕矏閺嶆垿锟藉瀚ㄩ懞鍌滃仯闁撅拷 ====*/
.ore-crumbitem{
	float: left;
}
.ore-crumbitem > .ore-text {
	cursor: default;
	height:26px;
	line-height: 26px;
	color: inherit;
	text-decoration: none;
}
.ore-crumbitem > .ore-text.ore-lightblue{
	color: var(--lightblue-color);
	cursor: pointer;
}
.ore-crumbitem > .fa-angle-right{
	font-size: 2rem;
    margin: 0 6px;
    position: relative;
    top: 1px;
}
.vrv-treeCrumbs-wrapper{
	overflow-x: auto;
	padding: 3px .8rem;
	background:#DDD;
}
.ore-crumbs{
	min-width: 100%;
}
.ore-crumbs .ore-text.ore-clickable{
	color: #4CAF50;
	cursor: pointer;
}
/*================闁瀚ㄩ弽鍥╊劮濮癸拷===============================*/
.ore-selectpool{
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}
.ore-selectpool-item{	
    height: 30px;
    line-height:  30px;
    float:  left;
    position:  relative;
	border: 1px solid var(--lightblue-color);
	color: var(--lightblue-color);
	padding-right: 15px;
	margin-right: 5px;
}

.ore-selectpool-item .fa-close{	
    position:  absolute;
    right: 0px;
    top: 8px;
	color: red;
	cursor: pointer;
}

.ore-selectpool-item .fa-user{
	margin:0 5px
}

/*================缁鎶�閻ф儳瀹抽幖婊呭偍閹兼粎鍌ㄥ锟�=======================*/
.ore-searchBox{
	position: relative;
}
.ore-searchBox-input{
	width: 88.5%;
}
.ore-searchBox-results{
	overflow: hidden;
	display: none;
	position: absolute;
	width: 89.2%;
	top: 2.75rem;
	left: 0;
	z-index:10;
	background: #FFF;
    border: 1px solid #D1D1D1;  
	border-top: 0;
	box-sizing: border-box;
}
.ore-searchBox-results li:hover{
	background:#F1F1F1;
}
.ore-searchBox-results > li{
	line-height: 30px;
	padding: 0 0.8rem;
}
.ore-searchBox-nothing{
	display: none;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 2.75rem;
	left: 0;
	z-index:10;
	background: #FFF;
    border: 1px solid #D1D1D1;
	border-top: 0;
	box-sizing: border-box;
}
.ore-searchBox-btn{
	height: 2.75rem;
	line-height: 2.75rem;
	display: block;
	/* float: left; */
	text-align: center;
	width: 2.75rem;
	font-size: 1.8rem;
	color: #fff;
	background: #40a0ce;
	position: absolute;
	top: 0px;
	right: 0;
	cursor: pointer;
}
.ore-searchBox-input{
	border-radius:0;
}

.ore-pageloading-icon{
	position: absolute;
	z-index: 10;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	margin: auto auto;
}

.ore-pageloading-bg{
	position: absolute;
	z-index: 1;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background: #1d2434;	
}

.ore-form .ore-lable-radio {
	text-align: left; 
	margin-left: 58px
}
.ore-form .ore-lable-radio > label{margin-right: 10px}

.ore-dataInput{
	position: relative;
}
.ore-dataInput .fa-close{
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
	display:none;
}
.ore-dialog .ore-form .ore-dataInput input.ore-input{
	float: none;
	width: 33.5%
}
.ore-dataInput:hover .fa-close{
	display: block;
}
.date-picker{
	cursor: default;
}
.ore-input.ore-input-onlysel{
	background: #FFF;
	cursor: pointer;
}

