.ore-btn{
	color: #333;
}
.ore-btn.ore-primary{
	background: #4c5dda;
}
.ore-btn.ore-default{
	background: #40a0ce;
}
.ore-btn.ore-assertive{
	background: #d9534f;
}
.ore-btn.ore-yellow{
	background: #f0ad4e;;
	color: #FFF;
}
.ore-table-btn.ore-assertive{
	border:1px solid #d9534f;
	color: #d9534f;
}
.ore-table-btn.ore-default{
	border:1px solid #40a0ce;
	color: #40a0ce;
}
.ore-table-btn.ore-lightblue{
	border:1px solid #40a0ce;
	color: #40a0ce;
}
.ore-table-btn.ore-primary{
	border:1px solid #4c5dda;
	color: #4c5dda;
}
.ore-table-btn.ore-yellow{
	border:1px solid #f0ad4e;
	color: #f0ad4e;
}
.ore-form{
	border:1px solid #CCC;
}
.ore-form .ore-input{
	border: 1px solid #CCC;
}
.ore-form .ore-input:focus{
	border: 1px solid #4c5dda;
	box-shadow: 0 0 3px #4c5dda;
}
#ID_PAGE_LOGIN .ore-form-title{
	color: #4c5dda;
	border-bottom: 4px solid #4c5dda;;
}
#ID_PAGE_LOGIN .ore-header{
	background: #4c5dda;
}

.ore-btn.ore-outline{
	border:1px solid #ccc;
}
.ore-btn.ore-outline:hover{
	background: #ccc;
}

.ore-dialog .modal-header{
	padding: 10px 15px;
	background: #40a0ce;
	color: #FFF;
}
.ore-header{
	border-bottom: 1px solid #CCC;
}
.dataTables_scrollBody{
	overflow-x: hidden !important;
	overflow: hidden;
	overflow-y: auto !important;
}
.ore-dialog .ore-select.ore-cascaded{
	width: 36%;
}
.ore-dialog .ore-select.ore-cascaded.first{
	margin-left: 7%
}

.vrv-orgTree .ore-btn{
	top: 0
}
.vrv-orgTree .ore-btn.ore-outline-yellow {
   
    border: 1px solid #f89c2c;
}
.vrv-orgTree .ore-btn.ore-outline-yellow:before{
	 color: #f89c2c !important;
}