.ore-main-right .ore-panel h2{
	line-height: 50px;
	font-size: 2rem;
	border-bottom:2px solid  #1B6D85;
	color:  #1B6D85;
	padding-left: 20px;
}

.ore-main-right .ore-panel h3{
	line-height: 30px;
	font-size: 1.6rem;
}
.ore-main-right .ore-panel .clzz-list{
	margin-left: 70px;
	
}
.ore-main-right .ore-panel .clzz-list li{
	padding-left: 10px;
}

.ore-main-right h1{
	line-height: 50px;
	font-size: 2.5rem;
}

.ore-main-right ul li{
	line-height: 2em;
	font-size: 1.5rem;
}

.ore-main-right p{
	font-size: 1.5rem;
	line-height: 2em;
}